---
import Education from "./Education.astro"
import TitleSection from "./TitleSection.astro"
import { getI18N } from "@/i18n"
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const personalImageAlt = "Miguel Ángel"
---

<div class="flex flex-col items-center justify-center gap-8 text-gray-900 dark:text-gray-300 max-w-6xl px-8">
  <TitleSection>
    {i18n.ABOUT.TITLE.split(' ')[0]} <span class="text-[#20b556] dark:text-[#4ade80]">{i18n.ABOUT.TITLE.split(' ')[1]}</span>
  </TitleSection>
  <div class="flex lg:justify-between justify-center gap-12 text-[15px] lg:flex-row flex-col lg:items-start items-center ">
    <img width="200" height="200" src="/principal/profile_picture.jpeg" alt={personalImageAlt} class="object-cover w-64 h-full p-1 rotate-3 lg:p-2 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20" style="object-position: 50% 50%">
    <div class="[&>p]:mb-4 text-pretty order-2  mt-2 ">
      {i18n.ABOUT.CONTENT.TEXT.map(content => {
        return (
          <p>{content.PARAGRAPH }</p>
        )
      })}
    </div>
  </div>
  <Education/>

</div>
