<div class="absolute block inset-1 z-10 place-items-center bottom-0 right-0 ">
  <div
    class="h-3/4 w-1/2 translate-x-1/4 rotate-45 rounded-tl-3xl rounded-br-3xl bg-gradient-to-tl from-blue-900 to-teal-600 opacity-50 blur-3xl"
  >
  </div>
</div>
