---
const { href } = Astro.props;
---

<a
    target="_blank"
    href={href}
    download="CV-Christian_Delgado"
    role="link"
    class="inline-flex border-[1px] dark:border-white bg-[#2a2a2a] text-white items-center justify-center gap-2 px-3 py-2 space-x-2 text-[13px] transition dark:text-white dark:[#2a2a2a] text-md hover:[#2a2a2a] hover:border-gray-900 group max-w-fit rounded-xl  focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black hover:bg-white dark:hover:text-black hover:text-black"
>
    <slot />
</a>