---
interface Props {
  checkActive?: boolean
  href: string
  label: string
  class?: string
}

const {
  href,
  label,
  class: className,
  checkActive = true,
  ...restOfProps
} = Astro.props


const currentPath = Astro.url.pathname
const isActive = currentPath === href && checkActive
---

<a
  href={href}
  data-astro-reload 
  data-astro-history="auto"
  aria-label={label}
  class:list={[
    className,
    "transition duration-200 z-[100] hover:text-[#0c8] text-white leading-[21px]",
    isActive ? "text-[#4ade80]" : "text-white ",
  ]}
  {...restOfProps}
>
  <slot />
</a>