---
const { href } = Astro.props;
---

<a
    target="_blank"
    href={href}
    role="link"
    class="inline-flex bg-[#2a2a2a] items-center justify-center gap-2 px-3 py-2 space-x-2 text-[13px] transition text-white text-md hover:[#2a2a2a] hover:border-gray-900 group max-w-fit rounded-xl  focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black hover:bg-white hover:text-black"
>
    <slot />
</a>