---
const { href } = Astro.props;
---

<a href={href} data-astro-reload data-astro-history="auto" class="group relative cursor-pointer w-[180px]">
  <div
    class="relative z-10 flex justify-center rounded-xl border-4 text-[15px] text-black border-white/30 bg-gray-100 bg-clip-padding p-2 px-5 font-bold "
    >
    <slot/>
    </div
  ><div
    class="pointer-events-none absolute inset-0 flex items-center overflow-hidden blur-lg transition-transform duration-500 will-change-transform group-hover:scale-110"
  >
    <div class="aspect-square w-full scale-110">
      <div
      class="h-full w-full bg-gradient-to-tr from-gray-200 to-gray-700 group-hover:animate-spin-slow"
      >
      </div>
    </div>
  </div>
</a>
