---
import HeaderLink from "./HeaderLink.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath, } from '../i18n/utils';


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<div class=" lg:hidden w-full px-2 fixed bottom-4 left-0 right-0 m-auto z-[100] flex justify-center items-center animate-fade-up animate-duration-[3000ms]">
  <header class="p-4 mt-2 flex gap-5 justify-center items-center flex-wrap rounded-xl max-w-[45.5rem]  ">
    <HeaderLink class="text__glowing" label='sobre-mí' href={translatePath('/#sobre-mí')}>
      {t('nav.sobre-mí')}
    </HeaderLink>
    <HeaderLink class="text__glowing" label='educación' href={translatePath('/#educación')}>
      {t('nav.educación')}
    </HeaderLink>
    <HeaderLink class="text__glowing" label='habilidades' href={translatePath('/#habilidades')}>
      {t('nav.habilidades')}
    </HeaderLink>
    <HeaderLink class="text__glowing" label='proyectos' href={translatePath('/#proyectos')}>
      {t('nav.proyectos')}
    </HeaderLink>
    <HeaderLink class="text__glowing" label='experiencia' href={translatePath('/#experiencia')}>
      {t('nav.experiencia')}
    </HeaderLink>
    <HeaderLink class="text__glowing" label='certificaciones' href={translatePath('/#certificaciones')}>
      {t('nav.certificaciones')}
    </HeaderLink>
    <HeaderLink class="text__glowing" label='contacto' href={translatePath('/#contacto')}>
      {t('nav.contacto')}
    </HeaderLink>
  </header>
</div>


<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section")
    const navItems = document.querySelectorAll("header nav div div a")
  
    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label")?.toString() === entry.target.id) {
              item.classList.add("text-white");
            } else {
              item.classList.remove("text-white");
            }
          })
        }
      })
    }

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "50px 0px -50px 0px",
      threshold: 0.1,
    })

    sections.forEach((section) => {
      observer.observe(section)
    })

    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect()
      } else {
        sections.forEach((section) => {
          observer.observe(section)
        })
      }
    }
  })
</script>

<style>
  header {
    animation: nav-shadown 1s linear both;
    animation-range: 0 100px;
  }

  header {
    @apply bg-[#14181c]/90;
  }

  @keyframes nav-shadown {
    0% {
      @apply bg-gray-800/0 ;
    }
    to {
      @apply shadow-lg ring-1 backdrop-blur-md ring-white/10;
    }
  }
</style>